@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Light.ttf');
    font-style: normal;
  }
  @font-face {
    font-family: 'PoppinsBold';
    src: url('../assets/fonts/Poppins/Poppins-Bold.ttf');
    font-style: normal;
  }